<div class="container">
  <div class="topLeftLogo"><img ng-src="/assets/images/butterbeanTransparentPink.png"></div>

    <div class="col-md-12">
        <!-- <div class="row">
          <div class="col-md-4"></div>
          <a class="btn btn-facebook col-md-4" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Log in with Facebook
          </a>
        </div> -->

        <!-- <div class="row">
          <div class="col-md-4"></div>
          <a class="btn btn-google-plus col-md-4" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Log in with Google
          </a>
        </div> -->

        <!-- <div class="row">
          <div class="col-md-4"></div>
          <a class="btn btn-twitter col-md-4" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Log in with Twitter
          </a>
        </div> -->

        <!-- <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 orLine">
            <p>OR</p>
          </div>
        </div> -->
      <!-- <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p> -->
      <form class="form" name="form" ng-submit="login(form)" novalidate>

        <div class="row">
          <div class="form-group col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password" required>
          </div>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             *Enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             *Enter a valid email.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div class="row">
        	<div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
        		<button class="btn btn-inverse btn-lg btn-login" type="submit">
	              Login
	            </button>
        	</div>
        </div>

        <div class="notMemberSection">
        	<div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
        		<p>Not a Member?</p>
            	<a href="/signup">Join Butterbean</a>
        	</div>
        </div>

      </form>
      </div>
    </div>
</div>
