<section>
	<!-- <section class="darker-yellow"></section> -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12 footerLogo">
					<img src="../assets/images/butterbean-white-logo.png">
					<p style="margin-left: 13px;">&copy; Copyright 2014</p>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs">
					<p class="footer-header">Company</p>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Terms &amp; Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs">
					<p class="footer-header">Contribute</p>
					<ul>
						<li><a href="#">Suggest an Activty</a></li>
						<li><a href="#">Advertise With Us</a></li>
						<li><a href="#">Feedback</a></li>
					</ul>
				</div>
				<div class="col-md-2 hidden-sm hidden-xs">
					<p class="footer-header">Connect</p>
					<ul>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Pinterest</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</section>