// NAVBAR
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: 0;
    height: 65px;
    background-color: #fff;
}

.navbar-right {
	text-align: right;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 16px;
}

.navbar-brand img {
    width: 50px;
    margin-top: -7px;
}

.navbar-right li {
    padding-top: 6px;
}

.navbar-left1 {
    margin-top: 7px;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
}

.navbar-left2 {
    margin-top: 21px;
    font-family: Lato;
    font-weight: 300;
    font-size: 16px;
    margin-left: 20px;
}

.navbar-text {
	padding-top: 2px;
}

@media screen and (max-width: 767px) {
	.navbar-toggle {
		margin-top: 15px;
	}

	.navbar-right {
		text-align: left;
	}

	.navbar-collapse.collapse {
		background-color: #fff;
		z-index: 15000;
		margin-top: 7px;
	}

	.navbar-text {
		padding-left: 15px;
		padding-top: 2px;
	}
}