// ADDITEM MODAL
.simple-form {
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 300;
}

.simple-form input {
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    width: 100%;
}

.simple-form textarea {
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    width: 100%;
}

.simple-form div {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

.errorMessage {
    font-size: 16px;
    font-weight: 400;
    color: red;
}

// BOOKLIST MODAL
.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.modal-title {
    font-family: Source Sans Pro;
    font-size: 45px;
    color: #e0c61a;
}

.modal-body {
    padding-top: 0;
}

.modal-body img {
    width: 195px;
    height: 115px;
    float: left;
}

.modal-body a {
    text-decoration: none;
    cursor: pointer;
}

.modal-body a:hover {
    text-decoration: none;
}

.modalText {
    background-color: #eee;
    height: 115px;
    margin-bottom: 15px;
    z-index: 1000;
}

.modalName1{
    font-family: Source Sans Pro;
    font-size: 20px;
    padding-left: 210px;
    color: #31989a;
    line-height: 1.25em;
}

.modalName{
    font-family: Source Sans Pro;
    font-size: 20px;
    padding-left: 210px;
    color: #31989a;
    line-height: 1.25em;
    margin-top: -20px;
}

.modalCity {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 300;
    padding-left: 210px;
    color: #545454;
    line-height: 1.25em;
}

.cancelBtn {
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
}

.deleteListBtn img {
    height: 20px;
    width: 20px;
    margin-left: 327px;
    margin-top: 70px;
    z-index: 500;
    position: absolute;
}

// TOP HERO IMAGE
.hero {
    background-image: url("/assets/images/hero-img-final2.jpg");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
}

.logoImage {
    width: 75px;
    margin-top: 20px;
    margin-left: 20px;
}

.main-header {
    font-family: Source Sans Pro;
    margin-top: 195px;
    color: #fff;
	font-size: 45px;
	margin-bottom: 5px !important;
}

.main-subHeader {
    color: #fff;
    margin-top: 0 !important;
    font-weight: 400;
    margin-bottom: 30px;
}

.top-link {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 2px;
	font-size: 18px;
	background-color: #ec3345;
	border: none;
	font-family: Source Sans Pro;
	font-weight: 400;
	transition-property: background;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	color: #fff;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 134px;
	display: block;
	text-align: center;
}

.top-link:hover {
	background-color: #ED5F6D;
	text-decoration: none;
	color: #fff;
}

.signInLink {
	margin-top: 10px;
}

.bottom-link {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.bottom-link:hover {
	color: #ec3345;
	text-decoration: none;
}

// ICON SECTION
.section-header {
    text-align: center;
    margin-top: 60px;
    font-family: Source Sans Pro;
    color: #545454;
    font-weight: 600;
}

.section-subHeader {
	text-align: center;
    margin-bottom: 30px;
    font-family: Source Sans Pro;
    color: #545454;
    font-weight: 400 !important;
}

.icon-subHeader {
	margin-bottom: 60px;
}

.icons {
	background-color: #fff;
}

.icon-list img {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon-list h2 {
    font-size: 16px;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: 400;
    color: #545454;
}

.icon-list p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
    font-family: Source Sans Pro;
    font-weight: 300;
    color: #545454;
}

// BOTTOM BUTTON SECTION
.bottom-btn-section {
    background-color: #eee;
    border-top: #dce0e0;
    padding-bottom: 60px;
}

