<div ng-include="'components/navbar/navbar.html'"></div>
<section>
	<div class="tabs">
		<div class="container">
			<ul class="category-menu row">
				<div class="col-sm-2 col-xs-12">
					<li ng-class="show.schools ? 'icon activeClass' : 'icon'" ng-click="showItems('schools')"><img src="../assets/images/school-icon.png">Schools</li>
				</div>
				<div class="col-sm-2 col-xs-12">
					<li ng-class="show.actives ? 'icon activeClass' : 'icon'" ng-click="showItems('actives'); addActive('actives')"><img src="../assets/images/bike-icon.png">Outdoor + Active</li>
				</div>
				<div class="col-sm-2 col-xs-12">
					<li ng-class="show.foods ? 'icon activeClass' : 'icon'" ng-click="showItems('foods'); addActive('foods')"><img src="../assets/images/food-icon.png">Food</li>
				</div>
				<div class="col-sm-2 col-xs-12">
					<li ng-class="show.enrichments ? 'icon activeClass' : 'icon'" ng-click="showItems('enrichments'); addActive('enrichments')"><img src="../assets/images/music-icon.png">Enrichment + Learning</li>
				</div>
				<div class="col-sm-2 col-xs-12">
					<li ng-class="show.cultures ? 'icon activeClass' : 'icon'" ng-click="showItems('cultures'); addActive('cultures')"><img src="../assets/images/museum-icon.png">Culture + History</li>
				</div>
				<div class="col-sm-2 col-xs-12">
					<li ng-class="show.healths ? 'icon activeClass' : 'icon'" ng-click="showItems('healths'); addActive('healths')"><img src="../assets/images/health-icon.png">Health + Wellness</li>
				</div>
			</ul>
		</div>
	</div>
</section>

<div id="top" ng-show="show.schools">
	<div class="main clearfix">
		<form class="nl-form container">
			I'm looking for a private school in
			<select ng-model="search.town" class="selectpicker">
				<option>any town</option>
				<option>Aiea</option>
				<option>Ewa Beach</option>
				<option>Haleiwa</option>
				<option>Hauula</option>
				<option>Hawaii Kai</option>
				<option selected>Honolulu</option>
				<option>Kaaawa</option>
				<option>Kakaako</option>
				<option>Kahala</option>
				<option>Kahuku</option>
				<option>Kailua</option>
				<option>Kaneohe</option>
				<option>Kapolei</option>
				<option>Laie</option>
				<option>Maiili</option>
				<option>Makaha</option>
				<option>Manoa</option>
				<option>Mililani</option>
				<option>Nanakuli</option>
				<option>Pearl City</option>
				<option>Wahiawa</option>
				<option>Waialua</option>
				<option>Waianae</option>
				<option>Waikiki</option>
				<option>Waimanalo</option>
				<option>Waipahu</option>
				<option>Island Wide</option>
			</select>
			for my
			<select ng-model="search.student" class="selectpicker">
				<option selected>preschooler</option>
				<option>elementary student</option>
				<option>middle schooler</option>
				<option>high schooler</option>
			</select>
			.
			<div class="nl-overlay"></div>
		</form>
	</div>

	<div class="item-list-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 list-sec" ng-repeat="school in data.schools | filter:search:strict">
					<my-item item-info="school" item-url="getUrl('schools', school)"></my-item>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="show.actives">
	<div class="main clearfix">
		<form id="nl-form" class="nl-form container">
			I'm looking for a family-friendly
			<select>
				<option selected>beach</option>
				<option>hike</option>
				<option>park</option>
				<option>paid attraction</option>
			</select>
			in
			<select>
				<option>Aiea</option>
				<option>Ewa</option>
				<option>Haleiwa</option>
				<option>Hauula</option>
				<option>Hawaii Kai</option>
				<option selected>Honolulu</option>
				<option>Kaaawa</option>
				<option>Kakaako</option>
				<option>Kahala</option>
				<option>Kahuku</option>
				<option>Kailua</option>
				<option>Kaneohe</option>
				<option>Kapolei</option>
				<option>Laie</option>
				<option>Lanikai</option>
				<option>Maiili</option>
				<option>Makaha</option>
				<option>Manoa</option>
				<option>Mililani</option>
				<option>Nanakuli</option>
				<option>Pearl City</option>
				<option>Wahiawa</option>
				<option>Waialua</option>
				<option>Waianae</option>
				<option>Waikiki</option>
				<option>Waimanalo</option>
				<option>Waipahu</option>
				<option>Island Wide</option>
			</select>
			.
			<div class="nl-overlay"></div>
		</form>
	</div>

	<div class="item-list-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 list-sec" ng-repeat="active in data.actives">
					<my-item item-info="active" item-url="getUrl('actives', active)"></my-item>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="show.foods">
	<div class="main clearfix">
		<form id="nl-form" class="nl-form container">
			I'm looking for a family-friendly
			<select>
				<option selected>Japanese</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
				<option>cuisine</option>
			</select>
			place in
			<select>
				<option>Aiea</option>
				<option>Ewa</option>
				<option>Haleiwa</option>
				<option>Hauula</option>
				<option>Hawaii Kai</option>
				<option selected>Honolulu</option>
				<option>Kaaawa</option>
				<option>Kakaako</option>
				<option>Kahala</option>
				<option>Kahuku</option>
				<option>Kailua</option>
				<option>Kaneohe</option>
				<option>Kapolei</option>
				<option>Laie</option>
				<option>Lanikai</option>
				<option>Maiili</option>
				<option>Makaha</option>
				<option>Manoa</option>
				<option>Mililani</option>
				<option>Nanakuli</option>
				<option>Pearl City</option>
				<option>Wahiawa</option>
				<option>Waialua</option>
				<option>Waianae</option>
				<option>Waikiki</option>
				<option>Waimanalo</option>
				<option>Waipahu</option>
				<option>Island Wide</option>
			</select>
			.
			<div class="nl-overlay"></div>
		</form>
	</div>

	<div class="item-list-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 list-sec" ng-repeat="food in data.foods">
					<my-item item-info="food" item-url="getUrl('foods', food)"></my-item>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="show.enrichments">
	<div class="main clearfix">
		<form id="nl-form" class="nl-form container">
			I'm looking for
			<select>
				<option selected>sports activities</option>
				<option>language lessons</option>
				<option>music lessons</option>
				<option>tutoring</option>
			</select>
			in
			<select>
				<option>Aiea</option>
				<option>Ewa</option>
				<option>Haleiwa</option>
				<option>Hauula</option>
				<option>Hawaii Kai</option>
				<option selected>Honolulu</option>
				<option>Kaaawa</option>
				<option>Kakaako</option>
				<option>Kahala</option>
				<option>Kahuku</option>
				<option>Kailua</option>
				<option>Kaneohe</option>
				<option>Kapolei</option>
				<option>Laie</option>
				<option>Lanikai</option>
				<option>Maiili</option>
				<option>Makaha</option>
				<option>Manoa</option>
				<option>Mililani</option>
				<option>Nanakuli</option>
				<option>Pearl City</option>
				<option>Wahiawa</option>
				<option>Waialua</option>
				<option>Waianae</option>
				<option>Waikiki</option>
				<option>Waimanalo</option>
				<option>Waipahu</option>
				<option>Island Wide</option>
			</select>
			for my
			<select>
				<option selected>preschooler</option>
				<option>elementary student</option>
				<option>middle schooler</option>
				<option>high schooler</option>
			</select>
			.
			<div class="nl-overlay"></div>
		</form>
	</div>
	<div class="item-list-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 list-sec" ng-repeat="enrichment in data.enrichments">
					<my-item item-info="enrichment" item-url="getUrl('enrichments', enrichment)"></my-item>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="show.cultures">
	<div class="main clearfix">
		<form id="nl-form" class="nl-form class container">
			I'm looking for
			<select>
				<option>museums</option>
				<option>animal exhibits</option>
				<option>cultural sites</option>
			</select>
			in
			<select>
				<option>Aiea</option>
				<option>Ewa</option>
				<option>Haleiwa</option>
				<option>Hauula</option>
				<option>Hawaii Kai</option>
				<option selected>Honolulu</option>
				<option>Kaaawa</option>
				<option>Kakaako</option>
				<option>Kahala</option>
				<option>Kahuku</option>
				<option>Kailua</option>
				<option>Kaneohe</option>
				<option>Kapolei</option>
				<option>Laie</option>
				<option>Lanikai</option>
				<option>Maiili</option>
				<option>Makaha</option>
				<option>Manoa</option>
				<option>Mililani</option>
				<option>Nanakuli</option>
				<option>Pearl City</option>
				<option>Wahiawa</option>
				<option>Waialua</option>
				<option>Waianae</option>
				<option>Waikiki</option>
				<option>Waimanalo</option>
				<option>Waipahu</option>
				<option>Island Wide</option>
			</select>
			for my
			<select>
				<option selected>preschooler</option>
				<option>elementary student</option>
				<option>middle schooler</option>
				<option>high schooler</option>
			</select>
			.
			<div class="nl-overlay"></div>
		</form>
	</div>
	<div class="item-list-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 list-sec" ng-repeat="culture in data.cultures">
					<my-item item-info="culture" item-url="getUrl('cultures', culture)"></my-item>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="show.healths">
	<div class="main clearfix">
		<form id="nl-form" class="nl-form container">
			I'm looking for a kid-friendly
			<select>
				<option selected>doctor</option>
				<option>dentist</option>
				<option>therapist</option>
			</select>
			in
			<select>
				<option>Aiea</option>
				<option>Ewa</option>
				<option>Haleiwa</option>
				<option>Hauula</option>
				<option>Hawaii Kai</option>
				<option selected>Honolulu</option>
				<option>Kaaawa</option>
				<option>Kakaako</option>
				<option>Kahala</option>
				<option>Kahuku</option>
				<option>Kailua</option>
				<option>Kaneohe</option>
				<option>Kapolei</option>
				<option>Laie</option>
				<option>Lanikai</option>
				<option>Maiili</option>
				<option>Makaha</option>
				<option>Manoa</option>
				<option>Mililani</option>
				<option>Nanakuli</option>
				<option>Pearl City</option>
				<option>Wahiawa</option>
				<option>Waialua</option>
				<option>Waianae</option>
				<option>Waikiki</option>
				<option>Waimanalo</option>
				<option>Waipahu</option>
				<option>Island Wide</option>
			</select>
			.
			<div class="nl-overlay"></div>
		</form>
	</div>
	<div class="item-list-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-xs-12 list-sec" ng-repeat="health in data.healths">
					<my-item item-info="health" item-url="getUrl('healths', health)"></my-item>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div id="scrollArea" class="container">
    <a ng-click="gotoTop()"><img src="../assets/images/arrowUp.png"></a>
</div> -->






