.activeClass {
  background-color: #eee;
}

// icon/category section
.tabs {
	background-color: #bfbfbf;
}

.category-menu {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}

.icon {
	display: inline-block;
	font-size: 16px;
	width: 100%;
	text-align: center;
	font-family: Source Sans Pro;
	height: 155px;
	padding-top: 40px;
	color: #fff;
	font-weight: 300;
}

.icon:hover {
	background-color: #eee;
}

.icon:active {
	background-color: #eee;
}

.icon img {
	height: 50px;
	width: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
}

.icon p {
	color: #545454;
}

// select section
// general style for the inline form
.main {
	background-color: #fff;
	height: 176px;
}

.nl-form {
	line-height: 1.5em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Source Sans Pro;
	font-size: 32px;
	color: #545454;
}

.nl-form select {
	border: none;
	background: transparent;
	font-family: Source Sans Pro;
	font-size: 32px;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nl-form select:focus {
	outline: none;
}

.nl-form input:focus {
	outline: none;
}

/* the toggle is the visible part in the form */
.nl-field-toggle,
.nl-form input,
.nl-form select  {
	line-height: inherit;
	display: inline-block;
	color: #ec3345;
	cursor: pointer;
	border-bottom: 1px dashed #ec3345;
}

// list item section
.item-list-container {
	background-color: #eee;
	padding-top: 60px;
	padding-bottom: 40px;
}

.name-holder {
	width: 100%;
	height: 125px;
	background-color: #fff;
}

.item-wrapper:hover {
	text-decoration: none;
}

@media screen and (max-width: 767px) {
	.tabs .col-xs-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.icon {
		height: 125px;
		padding-top: 25px;
	}
	.main {
		height: 246px;
	}
}



